[submodule "Plugins/TTToolbox"]
	path = Plugins/TTToolbox
	url = ../../tuatec/TTToolbox.git
[submodule "Plugins/ALS-Refactored-XT"]
	path = Plugins/ALS-Refactored-XT
	url = ../ALS-Refactored-XT.git
[submodule "Plugins/ALSXT"]
	path = Plugins/ALSXT
	url = ../ALSXT.git
[submodule "Plugins/ModelingTools"]
	path = Plugins/ModelingTools
	url = ../ModelingTools.git
