[submodule "Plugins/TTToolbox"]
	path = Plugins/TTToolbox
	url = ../../tuatec/TTToolbox.git
[submodule "Plugins/ALS-Refactored"]
	path = Plugins/ALS-Refactored
	url = ../ALS-Refactored.git
[submodule "Plugins/ALSXT"]
	path = Plugins/ALSXT
	url = ../ALSXT.git
[submodule "Plugins/ModelingTools"]
	path = Plugins/ModelingTools
	url = ../ModelingTools.git
